  <%- include ("partials/header.ejs") %>

    <body>
      <div class="container">
      <h1>Monitoramento de Memória Banco</h1>
      </div>
      <div  id="chart">
      <div id="curve_chart" style="width: 1400px; height: 500px"></div>
      </div>
    </body>
 
  <%- include ("partials/footer.ejs") %>